/* Webfont: LaysExtraBoldExtended */@font-face {
    font-family: 'LaysExtraBoldExtended';
    src: url('LaysExtraBoldExtended.eot'); /* IE9 Compat Modes */
    src: url('LaysExtraBoldExtended.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LaysExtraBoldExtended.woff2') format('woff2'), /* Modern Browsers */
         url('LaysExtraBoldExtended.woff') format('woff'), /* Modern Browsers */
         url('LaysExtraBoldExtended.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LaysExtraBoldExtended.svg#LaysExtraBoldExtended') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

