@use "../utils/variables" as *;

.sus-info-block {
  position: relative;
  width: 100%;
  padding: 0;
  color: var(--sus-color-white);

}

.sus-info-block__content {
  // position: relative;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}



.sus-info-block__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  // padding: 30px 10px;
  
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  
  }
  
  @media (min-width: $lg) {
    // padding: 50px 30px;
  }
}


.sus-info-block__text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}



.sus-info-block__highlight {
  width: 100%;
  max-width: 345px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.sus-info-block__icon {
  flex-shrink: 0;
  width: 97px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sus-info-block__icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.sus-info-block__highlight-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}



.sus-info-block--single-column {
  .sus-info-block__single-content {
    text-align: center;
  }
}