@use "../utils/variables" as *;

.sus-highlight-section{
  // background-color: red;
  .sus-page-sec-v2__content{
    padding-top: 0;
  }
  .sus-page-sec-v2__content-inner{
    padding-top: 0;
  }
}
.sus-highlight {
  position: relative;
  width: 100%;

}

.sus-highlight__image-section {
  position: relative;
  width: 100%;
  height: auto;
  img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    min-height: 300px;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--taper-size)), 0% 100%);
  
    @media (min-width: $md) {
      min-height: 400px;
    }
  
    @media (min-width: $lg) {
      min-height: 500px;
    }
  
    @media (min-width: $xl) {
      min-height: 585px;
    }
  }
}



.sus-highlight__content {
  padding: 80px 0 40px;
  position: relative;


  @media (min-width: $md) {
    padding: 90px 0 45px;
  }

  @media (min-width: $lg) {
    padding: 100px 0 50px;
  }

  @media (min-width: $xl) {
    padding: 107px 0 55px;
  }
}

.sus-highlight__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;

  @media (min-width: $md) {
    gap: 16px;
  }
}

.sus-highlight__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(calc(var(--taper-size) / -2));

  img{
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
  
    @media (min-width: $sm) {
      width: 120px;
    }
  
    @media (min-width: $md) {
      width: 135px;
    }
  
    @media (min-width: $lg) {
      width: 145px;
    }
  
    @media (min-width: $xl) {
      width: 150px;
    }
  }
}


